* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    padding: 32px;
    background-color: #007bff;
    color: white;
    text-align: center;
}

header {
    width: 100%;
    color: black;
    padding: 16px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

nav ul li a {
    color: black;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    transition: .3s;
    color: #696969;
}

.show {
    display: block;
}

.sorting {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 16px auto;
}

.sorting button {
    font-size: 1.3rem;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.sorting button:hover {
    background-color: #0056b3;
    transition: .3s;
}

.ux {
    margin: 48px auto;
    max-width: 70%;
}

#content {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

#postTitle {
    margin: 0 0 16px 0;
}

#postText {
    width: 400px;
    height: 200px;
    margin: 0 0 32px 0;
}

#postImage {
    width: 400px;
    margin: 0 0 16px 0;
}

.postDiv {
    width: 250px;
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px;
    padding: 16px;
    transition: .3s;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.3rem;
}

.postDiv:hover {
    background-color: #efefef;
    box-shadow: 0 0 8px 0 #ccc;
    transition: .3s;
}

.postDiv img {
    max-width: 250px;
    max-height: 250px;
}

.postImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.customizeDiv {
    display: inline-block;
}

.deletePost {
    cursor: pointer;
    background-color: red;
    color: white;
    width: 96px;
}

.editPost {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    width: 96px;
}

.titleOfPost {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 16px 0;
}

.loginOutDiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#postCreator {
    display: none;
    flex-direction: column;
}

.hidden {
    display: none;
}
